
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.homepage-bgimage {
  background: url("./images/background-mini.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins";
}

/* .login{
  background-image: url("./images/background-mini.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  font-family: "Poppins";
} */

.sticky{
  position: sticky;
  top: 0;
}



.loginBox{
  border-radius: 10px;
  box-sizing: border-box;
  background: linear-gradient(241.25deg, rgba(41, 39, 85, 0.35) 4.4%, rgba(41, 39, 84, 0.78) 61.77%, rgba(27, 24, 66, 0.35) 119.94%);
  box-shadow: 0px 51px 69px rgba(23, 18, 43, 0.585739);
}

.input-username{ 
  position: absolute;
  align-items: center;
  background-color: #312F62;
  /* margin-left: 6.5%; */
  width: 78%;
  height: 50px;
  top: 104px;
  border-radius: 7px;
  padding-Left:25px;
  padding-Top:10px; 
  padding-Bottom:11px;
  font-Size:"20px";
}

.input-password{ 
  position: absolute;
  margin-top: 15%;
  background-color: #312F62;
  /* margin-left: 6.5%; */
  width: 78%;
  height: 50px;
  top: 104px;
  border-radius: 7px;
  padding-Left:25px;
  padding-Top:10px; 
  padding-Bottom:11px;
  font-Size:"20px";
}

.button-login {
  position: absolute;
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  border-radius: 5px; 
  width: 100%;
  height: 50px;
  border-radius: 7px;
}

::placeholder{
  color: #5B5A99;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}